<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Production</param-value>
    </context-param>
    <context-param>
        <param-name>PARAMETER_ENCODING</param-name>
        <param-value>UTF-8</param-value>
    </context-param>    
    <context-param>
        <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
        <param-value>client</param-value>
    </context-param>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>    
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>10</session-timeout>
    </session-config>
    <error-page>
        <error-code>401</error-code>
        <location>/faces/error/error401.xhtml</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/faces/error/error403.xhtml</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/faces/error/error404.xhtml</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/faces/error/error500.xhtml</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/faces/error/error.xhtml</location>
    </error-page>                                    
    <context-param>
        <param-name>resourceBundle.path</param-name>
        <param-value>i18n.messages</param-value>
    </context-param>        
    <welcome-file-list>
        <welcome-file>faces/main/index.xhtml</welcome-file>
    </welcome-file-list>    
    <security-role>
        <description>Administrator</description>
        <role-name>Administrator</role-name>
    </security-role>
    <security-role>
        <description>Supervision</description>
        <role-name>Supervision</role-name>
    </security-role>
    <security-role>
        <description>Electrician</description>
        <role-name>Electrician</role-name>
    </security-role>
    <security-constraint>
        <display-name>HTTPS</display-name>
        <web-resource-collection>
            <web-resource-name>All pages</web-resource-name>
            <description/>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <description/>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <login-config>
        <form-login-config>
            <form-login-page>/faces/login/customFormLogin.xhtml</form-login-page>
            <form-error-page>/faces/login/customFormLoginError.xhtml</form-error-page>
        </form-login-config>
    </login-config>    
    <security-constraint>
        <display-name>LoggedUser</display-name>
        <web-resource-collection>
            <web-resource-name>Logged user pages</web-resource-name>
            <description/>
            <url-pattern>/faces/account/changeMyPassword.xhtml</url-pattern>
            <url-pattern>/faces/account/accountData.xhtml</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>Administrator</role-name>
            <role-name>Supervision</role-name>
            <role-name>Electrician</role-name>
        </auth-constraint>
    </security-constraint>            
    <security-constraint>
        <display-name>AccountRegistration</display-name>
        <web-resource-collection>
            <web-resource-name>Account registration page</web-resource-name>
            <description/>
            <url-pattern>/faces/account/registerAccount.xhtml</url-pattern>            
        </web-resource-collection>
    </security-constraint>
    <security-constraint>
        <display-name>Administrator</display-name>
        <web-resource-collection>
            <web-resource-name>Administrator pages</web-resource-name>
            <description/>
            <url-pattern>/faces/account/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>Administrator</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>Supervision</display-name>
        <web-resource-collection>
            <web-resource-name>Supervision pages</web-resource-name>
            <description/>
            <url-pattern>/faces/fault/createFault.xhtml</url-pattern>
            <url-pattern>/faces/fault/faultList.xhtml</url-pattern>
            <url-pattern>/faces/fault/editFault.xhtml</url-pattern>
            <url-pattern>/faces/fault/electricianList.xhtml</url-pattern>
            <url-pattern>/faces/fault/supervisionAcceptedFaultList.xhtml</url-pattern>
            <url-pattern>/faces/fault/supervisionAssignedFaultList.xhtml</url-pattern>
            <url-pattern>/faces/station/createStation.xhtml</url-pattern>
            <url-pattern>/faces/station/stationList.xhtml</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>Supervision</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>Electrician</display-name>
        <web-resource-collection>
            <web-resource-name>Electrician pages</web-resource-name>
            <description/>
            <url-pattern>/faces/fault/electricianFaultList.xhtml</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>Electrician</role-name>
        </auth-constraint>
    </security-constraint>           
    <env-entry>
        <env-entry-name>faultLimit</env-entry-name>
        <env-entry-type>java.lang.Integer</env-entry-type>
        <env-entry-value>3</env-entry-value>
    </env-entry>
    <context-param>

        <!-- <param-name>javax.faces.INTERPRET_EMPTY_STRING_SUBMITTED_VALUES_AS_NULL</param-name> -->
        <param-name>javax.faces.VALIDATE_EMPTY_FIELDS</param-name>
        <param-value/>

    </context-param>    
    <mime-mapping>
        <extension>eot</extension>
        <mime-type>application/vnd.ms-font-object</mime-type>
    </mime-mapping>
    <mime-mapping>  
        <extension>otf</extension>  
        <mime-type>font/opentype</mime-type>  
    </mime-mapping>      
    <mime-mapping>  
        <extension>ttf</extension>  
        <mime-type>application/x-font-ttf</mime-type>  
    </mime-mapping>      
    <mime-mapping>  
        <extension>woff</extension>  
        <mime-type>application/x-font-woff</mime-type>  
    </mime-mapping>
    <mime-mapping>  
        <extension>woff2</extension>  
        <mime-type>application/x-font-woff2</mime-type>  
    </mime-mapping>
    <mime-mapping>  
        <extension>svg</extension>  
        <mime-type>image/svg+xml</mime-type>  
    </mime-mapping>
    <mime-mapping>  
        <extension>xsd</extension>  
        <mime-type>text/xml</mime-type>  
    </mime-mapping>
    <mime-mapping>  
        <extension>ico</extension>  
        <mime-type>image/x-icon</mime-type>  
    </mime-mapping>
    <mime-mapping>  
        <extension>xhtml</extension>  
        <mime-type>application/xml</mime-type>  
    </mime-mapping>
    <mime-mapping>
        <extension>less</extension>
        <mime-type>text/css</mime-type>
    </mime-mapping>
    <context-param>
        <param-name>
            javax.faces.INTERPRET_EMPTY_STRING_SUBMITTED_VALUES_AS_NULL
        </param-name>
        <param-value>true</param-value>
    </context-param>
</web-app>
